<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rescale App</title>
</head>

<body>
    <h1>raw_request</h1>
    <table id="headers">
        <thead>
            <tr>
                <th>Header</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in headers.items() %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>top_20</h1>
    <pre>{{ top_20 }}</pre>
</body>

</html>