<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rescale App</title>
    <style>
        body {
            font-family: 'Roboto Mono', monospace;
            font-size: 10pt;
        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;300&display=swap">
</head>

<body style="font-family: 'Roboto Mono', monospace; font-size: 10pt;">
    <h1 id="top_title"></h1>
    <h2 id="top_proc"></h2>
    <div id="top_pre" style="white-space: pre;"></div>

    <script>
        const apiUrl = '{{ base_url }}/api/top';

        function getRandomInteger(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        async function fetchDataAndUpdateDiv() {
            count = getRandomInteger(1, 10);
            try {
                const response = await fetch(`${apiUrl}?count=${encodeURIComponent(count)}`);
                const data = await response.json();

                const topTitleElement = document.getElementById('top_title');
                topTitleElement.innerText = "top " + data.top.length;
                console.log("Fetched " + data.top.length + " items.")

                const topProcElement = document.getElementById('top_proc');
                topProcElement.innerText = "Process: " + data.top[0].proc + "; Memory %: " + data.top[0].mem;

                const topElement = document.getElementById('top_pre');
                topElement.innerText = JSON.stringify(data, undefined, 4);
            } catch (error) {
                console.error('Error:', error);
            }
        }

        fetchDataAndUpdateDiv()
        setInterval(fetchDataAndUpdateDiv, 2000);
    </script>
</body>

</html>