<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rescale App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ static_path }}/style.css">
    <link rel="icon" type="image/x-icon" href="{{ static_path }}/rescale_logo.svg">
</head>

<body>
    <div class="row">
        <div class="column">
            <table id="headers">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in headers.items() %}
                    <tr>
                        <td> {{ key }} </td>
                        <td class="break"> {{ value }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column rescalebg"
            style="background-image: url('{{ static_path }}/rescale_logo.svg');">
            <h1>top_20</h1>
            <pre>{{ top_20 | safe }}</pre>
        </div>
    </div>
</body>

</html>